<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Service</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/header') %>

    <div class="page-container">
        <div class="form-container">
            <h1>Book <%= package %></h1>
            <form action="/booking/bookingform" method="POST">
                <input type="hidden" name="package" value="<%= package %>">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="date" name="date" placeholder="Select Date" required>
                <select name="time" required>
                    <option value="" disabled selected>Select Time</option>
                    <option value="09:00">09:00 AM</option>
                    <option value="10:00">10:00 AM</option>
                    <option value="11:00">11:00 AM</option>
                    <option value="12:00">12:00 PM</option>
                    <option value="13:00">01:00 PM</option>
                    <option value="14:00">02:00 PM</option>
                    <option value="15:00">03:00 PM</option>
                    <option value="16:00">04:00 PM</option>
                    <option value="17:00">05:00 PM</option>
                </select>
                <input type="text" name="address" placeholder="Your Address" required>
                <input type="tel" name="phone" placeholder="Your Mobile Phone" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

         <!-- Footer -->
         <%- include('partials/footer') %>
</body>

<style>

    .page-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .form-container {
        background-color: white;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        max-width: 500px; /* Set a maximum width for the form */
        width: 100%; /* Ensure the form takes full width up to the max-width */
        margin: 20px;
    }
    .form-container h1 {
        margin-top: 0;
    }
    .form-container form {
        display: flex;
        flex-direction: column;
    }
    .form-container form input,
    .form-container form select,
    .form-container form button {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
    }
    .form-container form button {
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }
    .form-container form button:hover {
        background-color: #0056b3;
    }
</style>
</html>
